<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="{{url_for('static', filename='cs/maintenance.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Roboto&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>
<body>
    <div class="container">
        
    <div class="content">
        
        
        <h1 class="head2">Website under maintenance</h1>
        <div class="media">
            <div class="follow">
                <h4>You can follow us here</h4>
            </div>

            <div class="links">
                <a  href="https://www.twitter.com/samparkplasma/"><i class="fab fa-twitter"></i></a>
            <a  href="https://www.instagram.com/samparkplasma/"><i class="fab fa-instagram"></i></a>
            </div>
            
        </div>
        
        <button class="btn">TAKE ME HOME</button>
    </div>
</div>
</body>
</html>